body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f8f6a8;
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1100px;
  margin: auto;
}

.main_content {
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  background-color: #bcfd9681;
  padding: 105px 90px;
}

/* about styles */
.about {
  margin-bottom: 40px;
}
.about_positon {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}
.about_name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}
.about_discription {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* project styles */
.projects {
  margin-bottom: 50px;
}

.title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}
.projects_list {
  padding: 0;
  margin-left: 15px;
}
.project_item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project_link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project_link {
  margin-left: 10px;
}
.project_bracker {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
/* work styles */
.wi_width {
  width: 525px;
}
.work_position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}
.organization {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.line {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.work_list {
  padding: 0;
  margin-left: 15px;
}
.work_list_item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.education {
  margin-top: 45px;
  margin-bottom: 10px;
}
.secondnded {
  padding: 0px;
  margin-left: 15px;
}
.ed_name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
  padding: 0;
}
.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
/* Sidebar styles */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}
.photo {
  width: 370px;
  margin-bottom: 51px;
}
.contacts,
.tech_skills,
.soft_skills {
  margin-left: 40px;
}
.contacts {
  margin-bottom: 50px;
}
.tech_skills {
  margin-bottom: 45px;
}
.sidebar_title {
  color: white;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.contact_type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}
.contact_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
.tech_skills_list,
.soft_skills_list {
  color: white;
  padding: 0;
  margin-left: 17px;
}
.tech_skills_item,
.soft_skills_item {
  color: #fb6d3a;
}
.tech_skills_text,
.soft_skills_text {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
